body {
	background: violet;
}

.flower * {
	/*box-sizing: border-box;*/
}
.flower{
	position: relative;
	width: 300px;
	border: 1px solid green;
	padding: 5px;
	border-radius: 5px;
	overflow: hidden;
}

.flower img{
	/*float: left;*/
	display: block;
	width: 300px;
	border-radius: 5px;
	/*transform-origin: left bottom;*/
	/*transform: rotate(90deg);*/
	transition: all .5s;
}
.flower .img1 {

}
.flower .img2 {
	position: absolute;
	top: 100%;
	left: 5px;
}
.flower:hover .img2{
	/*visibility: block;*/
	top: 5px;
}